@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body{
    font-family: "Roboto",sans-serif;
}
header{
    height:5rem;
}
.title-bar{
    height:50%;
    display:flex;
    align-items:center
}
.title-img{
    height:70%;
}
.title{
    font-size:1rem;
}
.menu-bar{
    height:50%;
    display:flex;
    gap:1rem;
    align-items:center;
    margin-left:7px;
}
.menu-btn:hover{
    background-color: lightblue;
}

.menu{
    position:relative;
}
.menu-items{
    position:absolute;
    display:none;
    background-color: rgb(238,238,238);
    top:1.5px;
    width:9rem;

}
.menu-btn:hover .menu-items{
    display: block;
}
li:hover{
    background-color:lightgray
}
li{
    padding:0.25rem;
}
.videobtn{
    display:none;
}
main{
    height:calc(100vh - 8.5rem);
    background-color:black;
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    margin-bottom: 2px;
}
.mainvideo{
    height:100%;
    
    width:100%;
}
footer{
    height:3rem;
    background-color: lightcyan;
    position:relative;
}
.timings{
    
    display:flex;
}
.time{
    display:flex;
    justify-content:center;
    align-items:center;
    width:4.2rem;
    height:1.6rem;
    background-color: lightblue;
    border:2px solid black;
    border-radius: 15%;
    position:absolute;
    margin-left:2.2rem;
}
.duration{
    display:flex;
    justify-content:center;
    align-items:center;
    width:4.2rem;
    height:1.6rem;
    background-color: lightblue;
    border:2px solid black;
    border-radius: 15%;
    position:absolute;
    margin-left: 91.5rem;
}

.play-pause{
    margin-left: 0.2rem;
    height:1.6rem;
    width:1.6rem;
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 15%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.seekbar{
    margin-left:5.5rem;

}
input[type="range"]{
    width:80rem;
}

.fullscreen{
    margin-left: 0.2rem;
    height:1.6rem;
    width:1.6rem;
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 15%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.toast {
    color: white;
    font-size: 2rem;
    position: fixed;
    top: 99px;
    right: 47px;
    display: block;
}

